@model GRH.Models.empleado
@{
    ViewBag.Title = "EditarEmpleado";
}

<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 3px;">
        <div class="container-fluid color1borde">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;" href="#">Empleados</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="~/Empleado/CrearEmpleado" style="color:white;">Crear Empleado</a></li>
                    <li class="active"><a href="~/Empleado/EditarEmpleado" style="color:#000; background:#62d3e2;">Editar Empleado<span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Empleado/EliminarEmpleado" style="color:white;">Eliminar Empleado</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container form1">
        <center><h3 class="titulo">Editar Empleado</h3></center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container form1">
                <center><h3 class="titulo">Crear Empleado</h3></center>
                <div class="form2">
                    <div>
                        @Html.LabelFor(d => d.codigo_empleado, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.codigo_empleado, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.codigo_empleado, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.nombre, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "alert" })

                    </div>
                    <div>
                        @Html.LabelFor(d => d.apellido, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.apellido, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.apellido, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.telefono, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.telefono, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.telefono, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.departamento, new { @class = "colorblanco" })
                        @Html.DropDownList("departamento", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.departamento, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.cargo, new { @class = "colorblanco" })
                        @Html.DropDownList("cargo", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.cargo, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.fecha_ingreso, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.fecha_ingreso, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.fecha_ingreso, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.salario, new { @class = "colorblanco" })
                        @Html.TextBoxFor(d => d.salario, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.salario, null, new { @class = "alert" })
                    </div>
                    <div>
                        @*@Html.LabelFor(d => d.estatus, new { @class = "colorblanco" })
                        @Html.DropDownListFor(d => d.estatus, new SelectList(Enum.GetValues(typeof(Estado))), "Seleciona un genero", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.estatus, null, new { @class = "alert" })*@
                    </div>
                    <div>
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

