
@{
    ViewBag.Title = "IndexEmpleado";
}
<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 3px;">
        <div class="container-fluid color1borde">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;" href="#">Empleados</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="~/Empleado/CrearEmpleado" style="color:white;">Crear Empleado</a></li>
                    <li class="active"><a href="~/Empleado/IndexEmpleado" style="color:#000; background:#62d3e2;">Lista de Empleados<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container form1">
        <center><h3 class="titulo">Lista de Empleados</h3></center>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Codigo Empleado</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Fecha Ingreso</th>
                <th>Salario</th>
                <th>Estatus</th>
            </tr>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.id_empleado</td>
                    <td>@elemento.codigo_empleado</td>
                    <td>@elemento.nombre</td>
                    <td>@elemento.apellido</td>
                    <td>@elemento.telefono</td>
                    <td>@elemento.departamento</td>
                    <td>@elemento.cargo</td>
                    <td>@elemento.fecha_ingreso</td>
                    <td>@elemento.salario</td>
                    <td>@elemento.estatus</td>
                    <td>
                        <a class="btn btn-default" href="~/Contacto/EditarContacto/@elemento.id_contacto">Editar</a>
                        <a class="btn btn-danger" href="~/Contacto/EliminarContacto/@elemento.id_contacto">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


